.main {
    background-color: #0059ff;
    color: #ffffff;
    height: auto;
}

h1 {
    font-size: 32px;
    margin-bottom: 1rem;
    padding-top: 2rem;
    text-align: center;
    -webkit-text-stroke: #000000;
}

.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 200px;
}

form {
    background-color: #69681d;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 1rem;
}

input {
    margin: 0.3rem 0 0.7rem 0;
}

#mensagem {
    height: 100px;
}

input#submit {
    margin: auto;
}

.botoes {
    display: flex;
    text-align: center;
}

button {
    background-color: #a19f04;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    text-shadow: #000000;
    margin: 2rem 0.5rem 1rem 0.5rem;
    text-align: center;
    height: 30px;
    width: 100px;
}

button:hover {
    background-color: #bdba0a;
}

.imagem {
    text-align: center;
}

.escritorio {
    margin: 1rem 0 2rem 0;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px){
    .main{
        background-image: url('../img/mesa.jpg');
        background-size: cover;
    }

    .escritorio {
        display: none;
    }
        
}