.main {
    background-color: #001aff;
    color: #ffffff;
    height: auto;
}

h1 {
    padding-top: 2rem;
    text-align: center;
}

.botoes {
    text-align: center;
}

button {
    background-color: #8c00ff;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    margin: 2rem 1rem 2rem 1rem;
    text-align: center;
    height: 30px;
    width: 100px;
}

button:hover {
    background-color: #500092;
}

.imagem {
    text-align: center;
}

.mesa {
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
    width: 90%;
    max-width: 600px;
}