.main {
    background-image: url('../img/escritorio.jpeg');
    background-size: cover;
    color: #ffffff;  
    height: auto;
}

h1 {
    font-size: 42px;
    font-family: 'Concert One', cursive;
    margin-bottom: 4rem;
    padding-top: 2rem;
    text-align: center;
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 0.5px;
}

.paineis {
    margin: auto;
    width: 200px;
}

.painel {
    background-color: #bbb829;
    border: 2px solid #5f5e02;
    border-radius: 15px;
    margin: 0 1rem 2rem 0.5rem;
    width: 180px;
    height: 150px;
}

h3 {
    background-color: #5f5e02;
    border-top-right-radius: 13px;
    border-top-left-radius: 11px;
    padding: 3px;
    text-align: center;
}

ul {
    margin-left: 2rem;
    padding-top: 0.4rem;
}


.display {
    text-align: center;
}

button {
    background-color: #a19f04;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    text-shadow: #000000;
    margin: 2rem 0.5rem 1rem 0.5rem;
    text-align: center;
    height: 30px;
    width: 100px;
}

button:hover {
    background-color: #bdba0a;
}

.imagem {
    text-align: center;
}

.escritorio {
    margin: 1rem 0 2rem 0;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px){
    .main{
        background-image: url('../img/mesa.jpg');
        background-size: cover;
    }

    h1 {
        padding-top: 4rem;
    }

    .paineis {
        display: grid;
        grid-template-areas: "a b c";
        margin: auto;
        padding-top: 5rem;
        width: 700px;
    }
}